/licenta
__pycache__
cheie2.json
licenta-405018-fbc2372df9dc.json
.env
hug.py
app_spacy.py
dialog_inpainting.pdf
train_squad.parquet
train-v2.0.json
OR_QuAC.txt
model.py
masked_train_quac.parquet
masked_validation_quad.parquet
validation_quac.parquet
train_quac.parquet